
body {
	font-family: 'Playfair Display SC', helvetica, serif;
	background-image: url("../images/oldromancoin.jpg");
}
#question {
	border-radius:25px;
	padding:20px;
	background-color:beige;
	font-weight:bold;
	font-size:400%;
}

#answers {
	border-radius:25px;
	padding:20px;
	font-size:200%;
	background-color:lightgrey;
	
}

#header {
	font-size:150%;
	color:darkblue;
	background-color:lightblue;
	border-radius: 25px;
	padding:10px;
	text-align:center;
}

#answer-result {
  	background:grey;
  	width:auto;
	color:white;
	opacity:.9;
	text-align:center;
}

#timerdisplay {
	border-radius:25px;
	padding:20px;
  	background:grey;
	color:red;
	
}

#results {
  	text-align:center;
	background-color:grey;
	color:white;

}